<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FitCloudDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BC6E0C81DC4475500BB98BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC6E0E11DC4475600BB98BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC6E0EC1DC4475600BB98BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
